body {
    font-family: Helvetica;
}

h1 {
	text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div#toc a {
	text-decoration: none;
}


div#toc a:hover {
	text-decoration: underline;
}

div#toc ul {
	list-style-type: none;
	margin-left: 1.5em;
	padding-left: 0;
}

ul.references {
	list-style-type: none;
	margin-left: 0.5in;
	padding-left: 0;
	text-indent: -0.5in;
}

ul.references li {
	margin: 1em 0;
}

.centerText {
	text-align: center;
}
.scaled {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto 
}

div.content {
    width: 960px;
    margin: auto;
}

figure.frame{
    border: 1px solid #000000; /*outside border*/
    padding: 12px; /* creates whitespace between border & content */
}


table {
    width:75%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: black;
    color: white;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}


header {
     position:fixed;
     top: 0;
     left: 0;
     width: 100%;
}

.banner {
  width: 100%;
  height: 90px;
  background-image: linear-gradient(to bottom right, #aeb6bf, #2e4053);
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  font-size:  2em;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #303030;

}

li.nav {
    float: left;
}

li.nav a {
    display: block;
    color: white;
    font-family: Helvetica;
    font-size:  0.75em;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: Black;
}
